#wpm-indicator-text {
  color: rgba(255, 255, 255, 0.5);
  user-select: none;
  pointer-events: none;
  display: block;
  position: absolute;
  bottom: .2em;
  z-index: 1;
}
.message-1PNnaP #wpm-indicator-text {
  right: unset;
  left: 5px;
}
